.slide-container {
  width: 600px;
}

.slider {
  width: 100%;
}
.sketch-container {
  width: 600px;
  height: 600px;
  display: grid;
}

.individual-container {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
}

.top-left-corner {
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.top-right-corner {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.bottom-left-corner {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.bottom-right-corner {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.left-side {
  border-left: 2px solid black;
}

.top-side {
  border-top: 2px solid black;
}

.right-side {
  border-right: 2px solid black;
}

.bottom-side {
  border-bottom: 2px solid black;
}

.buttons {
  width: 600px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 16px;
}

.button {
  justify-self: center;
}
