.sketch-container {
    width: 600px;
    height: 600px;
    display:grid;
}

.individual-container {
    border: 1px solid black;
}

.top-left-corner {
    border-bottom: none;
    border-right: none;
}

.top-right-corner {
    border-bottom: none;
    border-left: none;
}

.bottom-left-corner {
    border-top: none;
    border-right: none;
}

.bottom-right-corner {
    border-top: none;
    border-left: none;
}

.top-row {
    border-bottom: none;
    border-left: none;
}

.bottom-row {
    border-top: none;
    border-left: none;
}

.left-column {
    border-right: none;
}

.right-column {
    border-left: none;
}
